absl-py==1.4.0
aenum==3.1.15
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.5.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
contourpy==1.1.0
coverage==7.3.0
cvzone==1.5.6
cycler==0.11.0
Deprecated==1.2.14
exceptiongroup==1.1.3
execnet==2.0.2
fastapi==0.103.0
flake8==6.1.0
Flask==2.3.3
Flask-MySQL==1.5.2
flask-ngrok==0.0.25
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/future-0.18.2-py3-none-any.whl
gunicorn==21.2.0
h11==0.14.0
httptools==0.6.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
line-bot-sdk==3.3.0
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/macholib-1.15.2-py2.py3-none-any.whl
MarkupSafe==2.1.3
matplotlib==3.7.2
mccabe==0.7.0
mediapipe==0.10.3
mock==5.1.0
multidict==6.0.4
mysql-connector-python==8.1.0
numpy==1.25.2
openai==0.27.9
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
packaging==23.1
pep8==1.7.1
Pillow==10.0.0
pluggy==1.3.0
protobuf==4.21.12
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.3.0
pydantic_core==2.6.3
pyflakes==3.1.0
PyMySQL==1.1.0
pyparsing==3.0.9
pytest==7.4.0
pytest-cache==1.0
pytest-cov==4.1.0
pytest-flake8==1.1.1
pytest-pep8==1.0.6
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
responses==0.23.3
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot7/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-133.100.1.1/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.0
sounddevice==0.4.6
starlette==0.27.0
tomli==2.0.1
tqdm==4.66.1
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
Werkzeug==2.3.7
wrapt==1.15.0
yarl==1.9.2
zipp==3.16.2
